head{
	
}
/*body{
	background: url("https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/10007506_10153942157780593_1168047324_n.jpg") no-repeat
}*/
body{
	background-color: teal; /* what color to make the background */
	margin: 0 auto;
	padding: 0;
	font:12px/16px Verdana, sans-serif; /* default font */
	background: url("https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/10007506_10153942157780593_1168047324_n.jpg") no-repeat fixed center
	

}
.L{
float: left;
}
.R{
float: right;
}

.threedEffect{
	font-family: 'Helvetica Neue',Helvetica, sans-serif;
	line-height: 1em;
	color: #fff9d6;
	font-weight:bold;
	font-size: 45px;
	text-align: center;
	text-shadow:0px 0px 0 rgb(188,188,188),1px 0px 0 rgb(177,177,177),2px 0px 0 rgb(166,166,166),3px 0px 0 rgb(155,155,155),4px 0px 0 rgb(144,144,144),5px 0px 0 rgb(133,133,133),6px 0px 0 rgb(122,122,122), 7px 0px 0 rgb(111,111,111),8px 0px 7px rgba(0,0,0,0.9),8px 0px 1px rgba(0,0,0,0.5),0px 0px 7px rgba(0,0,0,.2);
}

a:visited {
	color: #99FF99; /* Change the color of any visited links*/
}

input:hover{
	color: yellow;
}
input:active{
	color: green;
}