body{
	width: 760px; /* how wide to make your web page */
	background-color: teal; /* what color to make the background */
	margin: 0 auto;
	padding: 0;
	font:22px/26px Verdana, sans-serif; /* default font */
}

a:visited {
	color: #99FF99; /* Change the color of any visited links*/
}

input:hover{
	color: blue;
}
input:active{
	color: green;
}