.FileListTable {
  border-collapse:collapse;
  border-spacing:0px;
  border-width:1px;
  border-style:solid;
  border-color:#aaaaaa;
  background:#f0f0f0;
}
.FileListInnerCellIcon {
	margin:0px;
	padding:0px 4px 0px 0px;
}
.FileListInnerCellText {
  font-family:tahoma,sans-serif;
	font-size:8pt;
	margin:0px;
	padding:0px;
}
.FileListCellTitle {
  font-family:tahoma,sans-serif;
  font-size:8pt;
  border-width:1px;
  border-style:solid;
  border-color:#aaaaaa;
  padding:3px 6px 3px 6px;
}
.FileListCellText {
  font-family:tahoma,sans-serif;
  font-size:8pt;
  border-width:1px;
  border-style:solid;
  border-color:#aaaaaa;
  background:#fcfcfc;
  padding:3px 6px 3px 6px;
}
.FileListCellInfo {
  font-family:tahoma,sans-serif;
  font-size:8pt;
  border-width:1px;
  border-style:solid;
  text-align:right;
  border-color:#aaaaaa;
  background:#f6f6f6;
  padding:3px 6px 3px 6px;
}
.FileListCellDesc {
  font-family:tahoma,sans-serif;
  font-size:8pt;
  border-width:1px;
  border-style:solid;
  border-color:#aaaaaa;
  background:#f9f9f9;
  padding:3px 6px 3px 6px;
}
.FileListInfo {
  font-family:tahoma,sans-serif;
  font-size:8pt;
  border-width:1px;
  border-style:solid;
  border-color:#aaaaaa;
  background:#f0f0f0;
  padding:3px 6px 3px 6px;
}
.FileListNavBar {
  font-family:tahoma,sans-serif;
  font-size:8pt;
  margin:6px 0px 6px 0px;
}
.FileListNavBarCurrent {
  font-weight:bold;
}
